[Unit]
Description=Servidor PHP URLs: xterminator.local:28000 & xterminator-api.local:28001
After=network.target

[Service]
Type=simple
User=root
ExecStart=/var/www/html/xterminator/src/datafiles/server.sh
RemainAfterExit=yes
KillSignal=SIGINT 

[Install]
WantedBy=multi-user.target
